/node_modules
/public/hot
/public/css/app.css
/public/js/app.js
/public/js/common.js
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/docker_files/docker/db/data/*
/docker_files/docker/redis/data/*
/laravel-echo-server.json
/laravel-echo-server.lock
/docs
